body {
  margin: 0;
  padding: 0;
  background-color: #fffcf7;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: #8666c2;
}

.container {
  font-family: "Poppins", sans-serif;
  background-color: #d9d9d9;
  color: #3d1e6b;
  border-radius: 20px;
}

.star {
  aspect-ratio: auto;
  width: 62px;
  position: relative;
}

.star-top-left {
  bottom: 30px;
}

.star-bot-right {
  top: 40px;
  right: 10px;
}


/* Footer styles */

footer {
  background-color: #6a3d9b;
  color: #ffffff;
  font-size: 24px;
  height: 375px;
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 150px;
  padding-bottom: 100px;
  display: flex;
  gap: 10%;
}

footer div h3,
footer div p {
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  margin-left: 4px;
}

footer div h3 {
  font-weight: 600;
  font-size: 24px;
}

.footer-logo {
  aspect-ratio: auto;
  width: 180px;
  margin-bottom: 1.5px;
}

/* Home page styles */

.home,
.events {
  min-width: 1024px;
}

.home-content {
  padding-top: 95px;
  padding-bottom: 50px;
}

.banner {
  width: 100%;
}

.who {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.who-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 65%;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-heading h1 {
  white-space: nowrap;
}

.who .container {
  width: 80vw;
  min-width: 600px;
  max-width: 950px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.who .container p {
  min-width: 500px;
  max-width: 950px;
  text-align: left;
  font-size: 18px;
  color: #3d1e6b;
  line-height: 150%;
  padding: 50px;
  padding-left: 60px;
  padding-right: 60px;
}

.who-footer {
  width: 80vw;
  height: 100px;
  min-width: 600px;
  max-width: 950px;
  margin: auto;
  margin-top: 20px;
}

.events h1 {
  text-align: center;
  margin-bottom: 75px;
}

.events-container {
  display: flex;
  gap: 3%;
  justify-content: center;
}

.events-container .container {
  width: 24%;
}

.events-container .container h2 {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}

.events-container .container .text-container {
  width: 78%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.events-container .container .text-container p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  font-style: italic;
}

.events-footer {
  min-width: 1024px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: right;
}

.events-footer p {
  padding-right: 11%;
}

.who-footer p,
.events-footer p {
  font-family: "Oswald" sans-serif;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: #6a3d9b;
}
