.footer {
    background-color: #784390;
    font-family: inter;
    color: #ffffff;
    height: 400px;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.footerInfo {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footerInfo div {
    width: 300px;
}

.footerLogo {
    aspect-ratio: auto;
    width: 180px;
    margin-bottom: 1.5px;
}

.divider {
    width: 100%;
    border-top: 2px solid white;
}

.footerCopyright {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.footerCopyright p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300;
}