.footer {
    background-color: #784390;
    font-family: inter;
    color: #ffffff;
    height: fit-content;
    min-width: 1024px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.footerInfo {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: start;
}

.footerInfo div {
    width: 300px;
}

.logoCol p {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
}

.crop {
    width: 100%;
    height: 150px;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}

.footerLogo {
    width: 85%;
    position: top;
}

.linkCol {
    padding-top: 30px;
    height: 350px;
}

.divider {
    width: 100%;
    border-top: 2px solid white;
}

.footerCopyright {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.footerCopyright p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300;
}