.header {
    font-family: "Oswald", sans-serif;
    background-color: #fffcf7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    height: 80px;
    overflow: hidden;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 50;
    transition-duration: 250ms;
    transition-delay: 30ms;
}

.logoContainer {
    height: 100%;
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    aspect-ratio: auto;
    width: 75%;
    padding-bottom: 5px;
    padding-right: 10px;
}
