.header {
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    height: 95px;
    overflow: hidden;
    box-sizing: border-box;
}

.logo {
    aspect-ratio: auto;
    height: 80%;
    margin-left: 26px;
}
