.navbar {
    width: 40%;
    min-width: 300px;
    padding-right: 30px;
    display: flex;
    gap: 30px;
    justify-content: right;
}

.button {
    font-size: 24px;
    color: #3D1E6B;
    line-height: 150%;
    text-decoration: none;
}

.button:hover {
    color: #29104e;
    text-shadow: -0.5px 0px 0.8px #29104e;
    transition-duration: 225ms;
}

.selected {
    color: #29104e;
    text-shadow: -0.5px 0px 0.8px #29104e;
}