.pictureContainer {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 317px;
  height: 470px;
  border-radius: 20px;
  border-width: 2;
  border-color: orange;
}

.pictureInfoContainer {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #8666c2;
  opacity: 0.7;
}

.pictureInfoContainer > * {
  margin: 10;
  font-family: Gotu;
  font-weight: 400;
  color: #ffffff;
}
