/* About Page Styles */
.teamPicture {
  width: 100%;
  display: flex;
}

.how {
  margin-left: 200px;
  margin-top: 140px;
}
.how h1 {
  margin-top: 0px;
}
.boardContainer {
  text-align: center;
}
.begainContainer {
  width: 1050px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.star {
  margin-bottom: 0px;
}
.boardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 30px;
  justify-items: center;
  margin-bottom: 300px;
}
.boardInnerContainer {
  background-color: #d9d9d9;
  width: 320px;
  height: 300px;
  border-radius: 20px;
}
