body {
    margin: 0;
    padding: 0;
    background-color: #fffcf7;
}

header {
    font-family: 'Oswald', sans-serif;
    display: flex;
    /* background-color: gray; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 750px;
    height: 120px;
    overflow: hidden;
    box-sizing: border-box;
}

.logo {
    aspect-ratio: auto;
    width: 150px;
    margin-left: 2%;
    margin-bottom: 0px;
}

.navButtons {
    height: 100%;
    width: 40%;
    margin-left: auto;
    padding-right: 4%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}

.navButtons button {
    font-family: inherit;
    font-size: 24px;
    white-space: nowrap;
    color: #FEB954;
    border: none;
    background-color: inherit;
    max-width: max-content;
    height: 60%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navButtons button:hover { 
    text-shadow: 0.8px 0px 0px #FEB954;
    transition-duration: 150ms;
}

.selectedPage {
    text-shadow: 0.8px 0px 0px #FEB954;
}