.home,
.events {
    min-width: 1024px;
}

.homeContent {
    padding-top: 135px;
    padding-bottom: 50px;
}

.banner {
    width: 100%;
}

.who {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.whoHeading {
    padding-left: 2%;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 77px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.whoHeading h1 {
    font-family: Aboreto;
    font-size: 48px;
    color: #8666C2;
    font-weight: 500;
    white-space: nowrap;

    /* add a border around text */
    -webkit-text-stroke: 2.5px #3D1E6B;
    paint-order: stroke fill;
}

.whoBody {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoBody p {
    font-family: Gotu, 'sans-serif';
    text-align: left;
    font-size: 24px;
    line-height: 225%;
    color: #3D1E6B;
    padding: 10px;
}

.whoFooter {
    width: 80vw;
    height: 100px;
    min-width: 600px;
    max-width: 950px;
    margin: auto;
    margin-top: 20px;
}

.events h1 {
    text-align: center;
    margin-bottom: 75px;
}

.eventsContainer {
    display: flex;
    gap: 3%;
    justify-content: center;
}

.eventsContainer .container {
    width: 24%;
}

.eventsContainer .container h2 {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

.eventsContainer .container .textContainer {
    width: 78%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.eventsContainer .container .textContainer p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-style: italic;
}

.eventsFooter {
    min-width: 1024px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: right;
}

.eventsFooter p {
    padding-right: 11%;
}

.whoFooter p,
.eventsFooter p {
    font-family: "Oswald" sans-serif;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: #6a3d9b;
}


.starTopLeft {
    bottom: 35px;
    left: 10px;
}

.starBotRight {
    top: 40px;
    right: 10px;
}